<p id="notice"><%= notice %></p>

<h1>Marcas</h1>

<%= link_to new_brand_path, remote: true do %>
  <i class="fa fa-tags fa-5x"></i>
  Añadir marca
<%end%>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Nombre</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.nombre %></td>
        <td>
          <%=link_to(edit_brand_path(brand), remote: true) do %>
            <i class="fa fa-edit fa-lg"></i> Editar
          <%end%>
        </td>
        <td>
          <%=link_to brand, method: :delete, data: { confirm: "¿Realmente quieres eliminar la marca '#{ brand.nombre }'?" }  do %>
            <i class="fa fa-trash fa-lg"></i> Eliminar
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
