<div id="category-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white"><%= title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= form_with(model: category) do |form| %>
        <div class="modal-body">
          <% if category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
              <ul>
              <% category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <div class="field">
              <%= form.label :nombre %>
              <%= form.text_field :nombre, class: "form-control form-control-lg" %>
            </div>
          </div>
        </div>

        <div class="modal-footer bg-light">
          <div class="actions">
             <button type="button" class="btn btn-lg btn-outline-dark" data-dismiss="modal">Cancelar</button>
            <%= form.submit category.new_record? ? "Crear" : "Actualizar", class: "btn btn-outline-success btn-lg"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
