<p id="notice"><%= notice %></p>

<h1>Categorías</h1>

<%= link_to new_category_path, remote: true do %>
  <i class="fa fa-tags fa-5x"></i>
  Añadir categoría
<%end%>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Nombre</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.nombre %></td>
        <td>
          <%=link_to(edit_category_path(category), remote: true, class: "text-warning") do %>
            <i class="fa fa-edit fa-lg"></i> Editar
          <%end%>
        </td>
        <td>
          <%=link_to category, method: :delete, data: { confirm: "¿Realmente quieres eliminar la categoría '#{category.nombre}'?" },class: "text-danger" do %>
            <i class="fa fa-trash fa-lg"></i> Eliminar
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
