<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, {class: "form-control form-control-lg"}%>
  </div>

  <div class="field form-group">
    <%= form.label :clave %>
    <%= form.text_field :clave, {class: "form-control form-control-lg"} %>
  </div>

  <div class="field form-group">
    <%= form.label :precio_de_venta %>
    <%= form.number_field :precio_de_venta, {class: "form-control form-control-lg"}%>
  </div>

  <div class="field form-group">
    <%= form.label :stock %>
    <%= form.number_field :stock, {class: "form-control form-control-lg"}%>
  </div>

  <div class="field form-group">
    <%= form.label "Descripción"%>
    <%= form.text_area :descripcion, {class: "form-control form-control-lg"} %>
  </div>

  <div class="field form-group">
    <%= form.label :color %>
    <%= form.text_field :color, {class: "form-control form-control-lg"}%>
  </div>

  <div class="field form-group">
    <%= form.label :talla %>
    <%= form.text_field :talla, {class: "form-control form-control-lg"}%>
  </div>

  <!-- <div class="field form-group">
    <%= image_tag(@product.foto_url, :width => "100%") if @product.foto.present? %>
  </div> -->

  <div class="form-group">
    <%= form.label :foto %>
    <%= form.file_field :foto, {class: "form-control-file"} %>
  </div>

  <div class="actions">
    <%= form.submit "Crear", class: "btn btn-outline-success btn-lg" %>
  </div>
<% end %>
