<div class="cards">
  <% @products.each do |product| %>
    <%= render @products%>
  <%end%>
</div>

<%= javascript_include_tag "products" %>


<script type="text/javascript">

$(document).ready(function(){
  var zindex = 10;

  $("div.card").click(function(e){
    e.preventDefault();

    var isShowing = false;

    if ($(this).hasClass("show")) {
      isShowing = true
    }

    if ($("div.cards").hasClass("showing")) {
      // a card is already in view
      $("div.card.show")
        .removeClass("show");

      if (isShowing) {
        // this card was showing - reset the grid
        $("div.cards")
          .removeClass("showing");
      } else {
        // this card isn't showing - get in with it
        $(this)
          .css({zIndex: zindex})
          .addClass("show");

      }

      zindex++;

    } else {
      // no cards in view
      $("div.cards")
        .addClass("showing");
      $(this)
        .css({zIndex:zindex})
        .addClass("show");

      zindex++;
    }

  });
});

</script>

<%= link_to 'New Product', new_product_path %>

<!--
<p id="notice"><%= notice %></p>
<h1>Productos</h1>
<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Clave</th>
      <th>Precio de venta</th>
      <th>Stock</th>
      <th>Descripción</th>
      <th>Color</th>
      <th>Talla</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.foto_url, :width => 60) if product.foto.present? %></td>
        <td><%= product.nombre %></td>
        <td><%= product.clave %></td>
        <td><%= product.precio_de_venta %></td>
        <td><%= product.stock %></td>
        <td><%= product.descripcion %></td>
        <td><%= product.color %></td>
        <td><%= product.talla %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br> -->
