<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@product.foto_url, :width => "100%") if @product.foto.present? %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @product.clave %>
</p>

<p>
  <strong>Precio de venta:</strong>
  <%= @product.precio_de_venta %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @product.talla %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
