<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "home" %>
    <%= stylesheet_link_tag "products" %>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "partials/header" %>
        <!-- <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->
      </div>
      <%= yield %>
    </div>
  </body>
</html>
